@import './variables.scss';

.card {
  position: relative;
  min-width: calc(25% - 24px);
  flex: 1 1 calc(25% - 24px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: $whiteColor;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.05);
  z-index: 2 !important;
  transition: all linear 0.15s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.1);
  }

  &.small {
    max-width: calc(25% - 24px);

    @media screen and (max-width: 1200px) {
      min-width: calc(33% - 20px);
      max-width: calc(33% - 20px);
      flex: 1 1 calc(33% - 20px);
    }

    @media screen and (max-width: 900px) {
      min-width: calc(50% - 16px);
      max-width: calc(50% - 16px);
      flex: 1 1 calc(50% - 16px);
    }

    @media screen and (max-width: 600px) {
      min-width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
    }
  }

  .card__icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all linear 0.15s;

    svg {
      font-size: 1.3rem;
      color: $textColor;
    }

    &:hover {
      filter: brightness(85%);
    }
  }

  .card__title {
    font-size: 1rem;
    font-weight: 700;
    color: $primaryColor;
  }

  .card__slider {
    background: #f1f1f1;
    height: 240px;
    border-radius: 8px;
  }

  .card__info {
    p {
      width: fit-content;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $textColor;
      margin-bottom: 8px;

      span {
        font-size: 1rem;
        font-weight: 600;
        color: $primaryColor;
      }
    }

    small {
      color: $textColor;
      font-weight: 500;

      span {
        font-size: 0.875rem;
        font-weight: 600;
        color: $textSuccessColor;
      }
    }
  }

  button {
    text-transform: uppercase;
  }
}
