.custom-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid #dddddd;
  transition: border-color linear 0.15s;

  &.full-border {
    border: 2px solid #dddddd;
    border-radius: 4px;
    padding: 0 12px;
  }

  &.uppercase {
    input,
    select {
      text-transform: uppercase !important;

      &::placeholder {
        text-transform: none !important;
      }
    }
  }

  input,
  select {
    width: 100%;
    max-height: 36px;
    font-size: 0.875rem;
    border: none;
    padding: 4px 0 !important;
  }

  svg {
    font-size: 1.5rem;
    color: $textColor;
    transition: color linear 0.15s;
  }

  &.focus {
    border-color: $primaryColor;

    svg {
      color: $primaryColor;
    }
  }

  &.valid {
    border-color: $textSuccessColor;

    svg {
      color: $textSuccessColor;
    }
  }

  &.error {
    border-color: $textErrorColor;

    input,
    select {
      &::placeholder {
        color: $textErrorColor;
        opacity: 0.7;
      }
    }

    svg {
      color: $textErrorColor;
    }
  }

  .error-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .invisible-icon {
      visibility: hidden;
      pointer-events: none;
    }

    svg {
      font-size: 1.35rem;
      color: $textErrorColor;
      filter: brightness(90%);
      transition: filter linear 0.15s;

      &:hover {
        filter: brightness(110%);

        & ~ .error-content {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .error-content {
      position: absolute;
      top: -7px;
      left: 36px;
      width: fit-content;
      background: $textErrorColor;
      filter: brightness(100%);
      opacity: 0.87;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transition: all linear 0.2s;

      .triangle {
        position: absolute;
        top: 0.4rem;
        left: -0.4rem;
        color: $textErrorColor;
        filter: brightness(100%);
        font-size: 1rem;
        transform: rotate(30deg);
      }

      .error-message {
        display: flex;
        gap: 4px;
        padding: 8px;

        small {
          font-size: 0.75rem;
          white-space: nowrap;
          color: $whiteColor;
        }

        svg {
          font-size: 1rem;
          color: $whiteColor;
        }
      }
    }
  }
}
