@import './reset.scss';

/* all the global css styles will be here*/

// colors variables
$primaryColor: #1565c0;
$whiteColor: #ffffff;
$transparentColor: transparent;

// buttons variables
$btnBorderOutlined: 2px solid $primaryColor;
$btnBorderOutlinedWhite: 2px solid $whiteColor;

input {
  height: 40px;
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 12px;
  color: #333333;
  transition: border-color linear 0.15s;

  &::placeholder {
    color: #bbbbbb;
  }

  &:focus {
    border-color: #1565c0;
  }
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 12px;
  border-radius: 4px;
  transition: all linear 0.2s;

  &.solid {
    background: $primaryColor;
    border: 2px solid $transparentColor;
    color: $whiteColor;

    &:hover {
      filter: brightness(90%);
    }
  }

  &.outlined {
    background: $transparentColor;
    border: $btnBorderOutlined;
    color: $primaryColor;

    &:hover {
      background: $primaryColor;
      color: $whiteColor;
    }

    &.white {
      border: $btnBorderOutlinedWhite;
      color: $whiteColor;

      &:hover {
        background: $whiteColor;
        color: $primaryColor;
      }
    }

    &.no-border {
      width: fit-content !important;
      border: none;
      padding: 0 !important;
      filter: brightness(120%);

      &:hover {
        background: $transparentColor;
        color: $primaryColor;
        filter: brightness(100%);
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 85%;
  margin: 0 auto;

  @media screen and (max-width: 1366px) {
    max-width: 100% !important;
  }
}

nav {
  width: 100%;
  height: 70px;
  background: $whiteColor;
  box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 2;

  @media screen and (max-width: 1366px) {
    padding: 0 32px;
  }
}
