.available-items {
  .items {
    margin: 32px 0 0;

    .item-wrapper {
      padding: 16px 16px;
    }
  }
}

.next-items {
  .items {
    max-width: 90%;
    margin: 48px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.loading-container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
