.available-items,
.next-items {
  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  .container {
    padding: 32px 0;
  }

  @media screen and (max-width: 1366px) {
    padding: 0 32px;
  }
}

.available-items {
  h1 {
    color: $primaryColor;
  }

  .items {
    margin: 32px 0;

    .item-wrapper {
      padding: 16px 16px;
    }
  }
}

.next-items {
  background: #42a5f5;

  h1 {
    color: $whiteColor;
  }

  .items {
    max-width: 90%;
    margin: 48px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.loading-container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
