@import './reset.scss';
@import './variables.scss';
@import './global.scss';
@import './navbar.scss';
@import './categoryBar.scss';
@import './card.scss';
@import './slider.scss';
@import './customInput.scss';
@import './modal.scss';
@import './home.scss';
