/* modal component styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    position: relative;
    min-width: 20vw;
    min-height: 45vh;
    background: $whiteColor;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    animation: modalIn 0.6s ease-out;

    @media screen and (max-width: 1366px) {
      min-width: 30vw;
      min-height: 65vh;
    }

    .close-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      width: fit-content;
      padding: 0;
      background: $transparentColor;
      cursor: pointer;
      transition: all linear 0.15s;

      svg {
        color: $textColor;
        font-size: 1.2rem;
      }

      &:hover {
        filter: brightness(80%);
      }
    }
  }
}

@keyframes modalIn {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* end modal component styles */

/* authentication modal component styles */
.authentication {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .authentication__title {
    text-align: center;
    margin-top: 24px;

    h2 {
      color: $primaryColor;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 0.4px;
    }
  }

  .authentication__form {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    button {
      width: 100%;
      height: 48px;
    }

    button.solid {
      margin: 24px 0;
      text-transform: uppercase;
    }

    input + input {
      margin-top: 16px;
    }

    small {
      color: #999999;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
  }
}
