* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button {
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}
