@import 'react-credit-cards/lib/styles.scss';

.settings {
  margin-top: $navbarHeight;

  .settings__content {
    margin-top: $mediumSpace;
    display: flex;
    align-items: flex-start;
    gap: $mediumSpace;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: stretch;
    }

    .settings__menu,
    .settings__info {
      background: $whiteColor;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }

    .settings__menu {
      flex: 0.25;

      @media screen and (max-width: 1000px) {
        flex: 1;
      }

      ul {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1000px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        @media screen and (max-width: 375px) {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        li {
          font-size: 0.9rem;
          font-weight: 400;
          letter-spacing: 0.4px;
          color: #777777;
          display: flex;
          align-items: center;
          gap: $smallSpace;
          padding: $defaultSpace;
          cursor: pointer;
          transition: all linear 0.15s;

          &:first-child {
            border-radius: 4px 4px 0 0;
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
          }

          &:hover {
            background: #f1f1f1;
          }

          &.active {
            color: $primaryColor;

            svg {
              color: $primaryColor;
            }
          }

          svg {
            font-size: 1.1rem;
            color: #888888;
            transition: all linear 0.15s;
          }
        }
      }
    }

    .settings__info {
      min-height: 238px;
      flex: 1;
      padding: $defaultSpace;

      h2 {
        color: $primaryColor;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .info-title {
        color: $primaryColor;
        font-weight: 500;
        letter-spacing: 0.4px;
        margin-bottom: $defaultSpace;
      }

      .input-container {
        display: flex;
        align-items: center;
        gap: $defaultSpace;
        margin-bottom: $defaultSpace;

        @media screen and (max-width: 1000px) {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: stretch;
        }

        .a-quarter-size {
          width: calc(25% - 6px);

          @media screen and (max-width: 1000px) {
            width: calc(50% - 6px);
          }

          @media screen and (max-width: 600px) {
            flex: 1;
            width: 100%;
          }
        }

        .a-third-size {
          width: calc(33% - 6px);

          @media screen and (max-width: 1000px) {
            flex: 1;
            width: auto;
          }

          @media screen and (max-width: 600px) {
            flex: 1;
            width: 100%;
          }
        }

        .half-size {
          flex: 0.5;

          @media screen and (max-width: 1000px) {
            flex: 1;
          }

          @media screen and (max-width: 600px) {
            flex: 1;
          }
        }

        .f1-size {
          flex: 1;
        }

        .f2-size {
          flex: 2;
        }

        .f3-size {
          flex: 3;
        }
      }

      fieldset {
        margin-top: $mediumSpace;
      }

      form {
        button {
          max-height: 32px;
          font-size: 0.875rem;
          line-height: 5px;
          margin-top: $defaultSpace;
        }
      }

      .add-payment,
      .payment-options {
        display: flex;
        gap: $largeSpace;
        margin-top: $mediumSpace;
      }

      .payment-options {
        width: 50%;
        flex-direction: column;
        gap: $defaultSpace;

        @media screen and (max-width: 680px) {
          width: 100%;
        }

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: $defaultSpace;
          border: 1px solid $borderColor;
          padding: $defaultSpace;

          @media screen and (max-width: 400px) {
            flex-direction: column;
          }

          &.new-option {
            padding: 0;
            border: none;

            button {
              max-height: 32px;
              font-size: 0.875rem;
              color: $primaryColor;
              line-height: 5px;
              margin-top: $defaultSpace;

              &:hover {
                color: $whiteColor;
              }
            }
          }

          .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $defaultSpace;

            .option__number {
              color: #777777;
              font-weight: 500;

              strong {
                letter-spacing: 1px;
              }
            }

            small {
              color: #999999;
            }
          }

          button {
            font-size: 0.875rem;
            color: $textErrorColor;
          }
        }
      }

      .add-payment {
        fieldset {
          margin: 0;
        }

        @media screen and (max-width: 680px) {
          flex-direction: column;
          gap: $mediumSpace;

          .input-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $defaultSpace;
          }

          .half-size {
            flex: 0.5 !important;
          }
        }

        .credit-card {
          @media screen and (max-width: 680px) {
            display: none;
          }
        }

        .add-payment-footer {
          display: flex;
          gap: $defaultSpace;
        }
      }

      .session-area {
        margin-top: $mediumSpace;

        .sign-out {
          display: flex;
          align-items: center;
          gap: $defaultSpace;

          p {
            color: $textDarkColor;
          }

          button {
            max-height: 32px;
            line-height: 5px;
          }
        }
      }
    }
  }
}
