.settings {
  margin-top: $navbarHeight;

  .settings__content {
    margin-top: $mediumSpace;
    display: flex;
    align-items: flex-start;
    gap: $mediumSpace;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: stretch;
    }

    .settings__menu,
    .settings__info {
      background: $whiteColor;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }

    .settings__menu {
      flex: 0.25;

      @media screen and (max-width: 1000px) {
        flex: 1;
      }

      ul {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1000px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        li {
          font-size: 0.9rem;
          font-weight: 400;
          letter-spacing: 0.4px;
          color: #777777;
          display: flex;
          align-items: center;
          gap: $smallSpace;
          padding: $defaultSpace;
          cursor: pointer;
          transition: all linear 0.15s;

          &:first-child {
            border-radius: 4px 4px 0 0;
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
          }

          &:hover {
            background: #f1f1f1;
          }

          &.active {
            color: $primaryColor;

            svg {
              color: $primaryColor;
            }
          }

          svg {
            font-size: 1.1rem;
            color: #888888;
            transition: all linear 0.15s;
          }
        }
      }
    }

    .settings__info {
      flex: 1;
      padding: $defaultSpace;

      h2 {
        color: $primaryColor;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .info-title {
        color: $primaryColor;
        font-weight: 500;
        letter-spacing: 0.4px;
        margin-bottom: $defaultSpace;
      }

      .input-container {
        display: flex;
        align-items: center;
        gap: $defaultSpace;
        margin-bottom: $defaultSpace;

        @media screen and (max-width: 1000px) {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: stretch;
        }

        .a-quarter-size {
          width: calc(25% - 6px);

          @media screen and (max-width: 1000px) {
            width: calc(50% - 6px);
          }

          @media screen and (max-width: 600px) {
            flex: 1;
            width: 100%;
          }
        }

        .a-third-size {
          width: calc(33% - 6px);

          @media screen and (max-width: 1000px) {
            flex: 1;
            width: auto;
          }

          @media screen and (max-width: 600px) {
            flex: 1;
            width: 100%;
          }
        }

        .half-size {
          flex: 0.5;

          @media screen and (max-width: 1000px) {
            flex: 1;
          }

          @media screen and (max-width: 600px) {
            flex: 1;
          }
        }

        .f1-size {
          flex: 1;
        }

        .f2-size {
          flex: 2;
        }

        .f3-size {
          flex: 3;
        }
      }

      fieldset {
        margin-top: $mediumSpace;
      }

      form {
        button {
          max-height: 32px;
          font-size: 0.875rem;
          line-height: 5px;
          margin-top: $defaultSpace;
        }
      }
    }
  }
}
