@import './variables.scss';

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  padding: 0 3.75%;

  ul {
    bottom: 4px;

    li.slick-active {
      button::before {
        opacity: 1;
        color: $primaryColor;
      }
    }

    button::before {
      opacity: 1;
      color: #cccccc;
    }
  }

  .slider__image {
    display: flex !important;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: 160px;
      object-fit: contain;
    }
  }

  .slick-prev,
  .slick-next {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    z-index: 2;
  }

  .slick-prev {
    left: -8px;
  }

  .slick-next {
    right: -8px;
  }

  .prev-arrow,
  .next-arrow {
    font-size: 32px !important;
    color: $primaryColor;
  }
}
