// variables
$navbarHeight: 70px !global;
$categorybarHeight: 40px !global;

// colors variables
$primaryColor: #1565c0 !global;
$whiteColor: #ffffff !global;
$transparentColor: transparent !global;
$textColor: #bbbbbb !global;
$textSuccessColor: #43a047 !global;
$textErrorColor: #c62828 !global;
$borderColor: #dddddd !global;

// buttons variables
$btnBorderOutlined: 2px solid $primaryColor !global;
$btnBorderOutlinedWhite: 2px solid $whiteColor !global;
$btnBorderOutlinedGrey: 2px solid #999999 !global;

// spacing variables
$tinnySpace: 4px !global;
$smallSpace: 8px !global;
$defaultSpace: 16px !global;
$mediumSpace: 32px !global;
$largeSpace: 48px !global;
